:root {

    --bottom-bar-height: 60px;

    --safe-inset-top: 10px;
    --safe-inset-right: 10px;
    --safe-inset-bottom: 10px;
    --safe-inset-left: 10px;

    --safeArea-value: 6px;
}
/*
.safe-area {
    padding: 
        var(--safe-inset-top),
        var(--safe-inset-right),
        var(--safe-inset-bottom),
        var(--safe-inset-left);
    
    padding: 
        env(safe-area-inset-top),
        env(safe-area-inset-right),
        env(safe-area-inset-bottom),
        env(safe-area-inset-left);

}
*/
.safeArea.-full {
    padding-top: var(--safe-inset-top);
    padding-right: var(--safe-inset-right);
    padding-bottom: var(--safe-inset-bottom);
    padding-left: var(--safe-inset-left);
}
.safeArea.-top {
    padding-top: var(--safe-inset-top);
}
.safeArea.-right {
    padding-right: var(--safe-inset-right);
}
.safeArea.-bottom {
    padding-bottom: var(--safe-inset-bottom);
}
.safeArea.-left {
    padding-left: var(--safe-inset-left);
}


/*
Scroll bars
*/

.overflowScroll {
    padding-right: 10px;
}
.overflowScroll.-scrollX {
    overflow-x: auto;
}
.overflowScroll.-scrollY {
    overflow-y: auto;
}
.overflowScroll::-webkit-scrollbar {
    width: 3px;
}

.overflowScroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.overflowScroll::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0.267);
    outline: 1px solid rgb(144, 131, 112);
}