:root {

    --bottom-bar-height: 60px;

    --sideBarLeft-width-px: 200px;
    --sideBarRight-width-px: 200px;
    
    --content-box-width-desktop: 560px;
    --appBox-width-max: calc(var(--sideBarLeft-width-px) + var(--content-box-width-desktop) + var(--sideBarRight-width-px));
}
.fullScreenWidth {
    width: 100vw;
}

/*
Scroll bars
*/

.overflowScroll {
    padding-right: 10px;
}
.overflowScroll.-scrollX {
    overflow-x: auto;
}
.overflowScroll.-scrollY {
    overflow-y: auto;
}
.arch_scrollBottonPadding {
    padding-bottom: 30vh;
} 

.mobileWidthContainer {
    width: min(550px, 100%)
}

/* 
    

    =>  Structure of page componenets <=

    #viewportContainter always fill the viewport
    #app contains all element and sets the limits of the app
    #mainBox hold the content and fills the viewport on small devices
_____________________________________________________________________________________________
|                                      #viewportContainter                                   |
|    ____________________________________________________________________________________    |
|   |                                    #app                                            |   | 
|   |   _____________________________________________________________________________    |   |
        |               |                                       |                   |
        |               |                                       |                   |
            leftBox     |             mainBox                   |      rightBox     |
        |               |                                       |                   |
        |               |                                       |                   |
        |               |                                       |                   |
        |               |                                       |                   |
        |               |                                       |                   |
        |               |                                       |                   |
        |               |                                       |                   |
        |               |                                       |                   |
        |               |                                       |                   |
        |               |                                       |                   |
        |               |                                       |                   |


*/




:root {
    --architecture-leftBox-width-px: 240px;
    --architecture-rightBox-width-px: 330px;
    --architecture-mainBox-width-px: 660px;
    --architectu-app-calcWidth: calc(var(--architecture-leftBox-width-px) + var(--architecture-rightBox-width-px) + var(--architecture-mainBox-width-px));
}

#viewportContainer{
    width: 100vw;
    height: 100vh;
}

#architecture-appBox {
    width: min(var(--architectu-app-calcWidth), 100%);
    height: 100%;
    margin-inline: auto;
    overflow: hidden;
}
#architecture-leftBox {
    width: var(--architecture-leftBox-width-px);
}

#architecture-rightBox {
    width: var(--architecture-rightBox-width-px);
}

#architecture-mainBox {
    width: min(100%, var(--architecture-mainBox-width-px));
    height: 100%;
}
#architecture-mainBox .architecture-mainBox-section {
    padding: 0px 15px 10px 10px;
}

@media (max-width: 900px) {
  #architecture-rightBox {
    display: none;
  }
}


