.comp-panel {
    background-color: var(--surface1-bgColor);
    border-radius: 5px;
}

.-surface1 {
    background-color: var(--surface1-bgColor);
}

.-surface2 {
    background-color: var(--surface2-bgColor);
}