@import url('./filled.css');
@import url('./radio.css');
@import url('./tab.css');
@import url('./shaped.css');

.comp-button {
    border-radius: min(0.4em, 10px);
    /* maxed padding in case of default font-size over 20px */
    padding: min(0.3em, 20px) min(0.8em, 20px);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.comp-button.disabled,
.comp-button[disabled] {
    pointer-events: none;
    user-select: none;
}

.comp-button-square {
    aspect-ratio: 1/1;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

/* 
Text size flags
*/

.comp-button.-text-small {
    font-size: 14px;
}
.comp-button.-text-large {
    padding: min(0.6em, 20px) min(1.2em, 20px);
    font-size: 18px;
}
.comp-button.-bold {
    font-weight: 700;
}

