.theme-switch {
    border-color: var(--ui-color-disabled);
    background-color: var(--backdropColor);
}
.theme-switch.true {
    border-color: var(--ui-color-on);
}
.theme-switch .dot {
    background-color: var(--ui-color-disabled);
}
.theme-switch.true .dot {
    background-color: var(--ui-color-on);
}



/*
Input Text
*/

.theme-input-text {
    color: white;
    background-color: var(--surface1-bgColor);
}

.surface1 .theme-input-text {
    background-color: var(--surface2-bgColor);
}