:root {
    --tone-grayscale-5: hsl(0, 0%, 98%);
    --tone-grayscale-10: hsl(0, 0%, 96%);
    --tone-grayscale-20: hsl(0, 0%, 90%);
    --tone-grayscale-30: hsl(0, 0%, 83%);
    --tone-grayscale-40: hsl(0, 0%, 64%);
    --tone-grayscale-50: hsl(0, 0%, 45%);
    --tone-grayscale-60: hsl(0, 0%, 32%);
    --tone-grayscale-70: hsl(0, 0%, 25%);
    --tone-grayscale-80: hsl(0, 0%, 15%);
    --tone-grayscale-90: hsl(0, 0%, 9%);
    --tone-grayscale-95: hsl(0, 0%, 4%);
}


/* 
this will modify the var color to .5 opacity 
each of h , s and l can be also modified
*/
.test  {
    background-color: hsl( from var(--tone-grayscale-1) h s l / .5);
}


