#app.dark {

    /* text colors */

    --titleColor-main: var(--tone-zinc-30);
    /* Variations */
        --h1Color-main: var(--titleColor-main);
        --h2Color-main: var(--titleColor-main);
        --h3Color-main: var(--titleColor-main);

    --textColor-main: var(--tone-zinc-10);
        --textColor-dimmed: var(--tone-zinc-40);
        --textColor-negative: var(--tone-zinc-90);

    /* 
        Background af app
        stacked surfaces
    */
    --backdropColor: var(--tone-zinc-90);
    /* --surface1-bgColor: var(--tone-zinc-80);*/
    --surface1-bgColor: var(--tone-brown-20);
        --surface1-hover-bgColor: var(--tone-brown-30);
    --surface2-bgColor: var(--tone-zinc-70);

    /* Layout */

    --layout-line-color: var(--tone-brown-30);

    /* Buttons */

    --filledButton-bgColor: var(--color-ft);
        --filledButton-hover-bgColor: var(--color-ft-dark);
        --filledButton-active-bgColor: var(--color-ft-light);
        --filledButton-disabled-bgColor: var(--tone-grayscale-60);
    --filledButton-textColor: white;
        --filledButton-disabled-textColor: var(--tone-grayscale-50);

    /* mainAction */
        --mainActionButton-textColor: var(--textColor-main);
        --mainActionButton-bgColor: var(--color-ft);
            
        --mainActionButton-hover-textColor: var(--textColor-main);
        --mainActionButton-hover-bgColor: var(--color-ft-dark);
    
        --mainActionButton-disabled-textColor: var(--textColor-dimmed);
        --mainActionButton-disabled-bgColor: var(--tone-grayscale-50);

    /*  New text color vars */
        --textButton-textColor: var(--text-color-main);
        --textButton-bgColor: transparent;
        --textButton-borderColor: var(--tone-grayscale-30);

        --textButton-hover-textColor: var(--text-color-main);
        --textButton-hover-bgColor: var(--tone-brown-30);
        --textButton-hover-borderColor: var(--tone-grayscale-30);

        --textButton-selected-textColor: var(--text-color-main);
        --textButton-selected-bgColor: var(--tone-brown-30);
        --textButton-selected-borderColor: var(--tone-grayscale-30);

    /*  end of new text button */

    /* Input fields cut out effect */
    --surface1-cutout-textColor: var(--textColor-main);
    --surface1-cutout-placeholderColor: var(--textColor-dimmed);
    --surface1-cutout-bgColor: rgba(0, 0, 0, 0.148);
    --surface1-cutout-active-bgColor: rgba(0, 0, 0, 0.062);
        --surface1-cutout-active-outlineColor: var(--tone-brown-40);
        --surface1-cutout-selected-bgColor: var(--tone-brown-40);
        --surface1-cutout-selected-outlineColor: var(--tone-brown-30);
    --surface1-cutout-insetShadowColor-dark: rgba(0, 0, 0, 0.87);
    --surface1-cutout-insetShadowColor-light: rgba(255, 255, 255, 0.171);

    /* Sidebar*/
    --sidebar-accountCard-bgColor: var(--tone-croco-50);

    /* Ui widgets - switch, checkbox, radio box, etc*/
    --ui-color-main: var(--tone-croco-70);
    --ui-color-secondary: var(--tone-croco-60);
    --ui-color-dimmed: var(--tone-zinc-50);
    --ui-color-on: var(--color-ft);
    --ui-color-off: var(--tone-zinc-50);
    --ui-color-disabled: var(--tone-zinc-70);

    /* Modals */

    --modalBackdrop-bgColor: var(--tone-brown-10);

    /* Scroll bars */

    @-moz-document url-prefix() {
        * {
            /* Firefox scrollbar-color takes two values: thumb and track */
            scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
        }
        *:hover > * {
            scrollbar-color: var(--scrollbar-thumb-hover-color) var(--scrollbar-track-color);
        }
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        border-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--surface2-bgColor);
        border-color: transparent;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--surface2-bgColor);
    }

    ::-webkit-scrollbar-thumb:active {
        background: var(--surface2-bgColor);
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }

    ::-webkit-scrollbar-button {
        display: block;
        background: transparent;
    }
}

/* pageStructure.css */
#app.dark {
    --sectionTitle-border-bottom-color: var(--tone-zinc-70)
}

