#app.forest {
    /* Text colors */
    --titleColor-main: var(--tone-mango-30);
    --h1Color-main: var(--tone-mango-20);
    --h2Color-main: var(--tone-mango-20);
    --h3Color-main: var(--tone-mango-20);

    --textColor-main: var(--tone-kaki-10);
    --textColor-negative: var(--tone-kaki-80);

    /* Backgrounds */
    --backdropColor: var(--tone-croco-90);

    /* Surface colors */
    --surface1-bgColor: var(--tone-croco-80);
    --surface1-bgColor-hover: var(--tone-croco-70);
    --surface1-bgColor-active: var(--tone-croco-60);

    --surface2-bgColor: var(--tone-kaki-70);
    --surface2-bgColor-hover: var(--tone-kaki-60);
    --surface2-bgColor-active: var(--tone-kaki-50);

    /* Filled button **/
    --filledButton-bgColor: var(--tone-croco-50);
    --filledButton-hover-bgColor: var(--tone-croco-60);
    --filledButton-active-bgColor: var(--tone-croco-10);
    --filledButton-disabled-bgColor: var(--tone-kaki-50);

    --filledButton-textColor: white;
    --filledButton-disabled-textColor: var(--tone-kaki-40);
    /** Tone button */
    --toneButton-bgColor: var(--tone-croco-10);
    --toneButton-hover-bgColor: var(--tone-croco-20);
    --toneButton-active-bgColor: var(--tone-croco-5);
    --toneButton-disabled-bgColor: var(--tone-croco-30);

    --toneButton-textColor: var(--tone-kaki-95);
    --toneButton-disabled-textColor: var(--tone-kaki-40);

    /* Outlined button */
    --outlinedButton-bgColor: transparent;
    --outlinedButton-borderColor: var(--tone-kaki-50);
    --outlinedButton-hover-bgColor: var(--tone-kaki-20);
    --outlinedButton-active-bgColor: var(--tone-kaki-30);
    --outlinedButton-textColor: var(--tone-kaki-95);

    /* Text button */
    --textButton-bgColor: transparent;
    --textButton-hover-bgColor: var(--tone-croco-90);
    --textButton-onPanel-hover-bgColor: var(--tone-croco-60);
    --textButton-active-bgColor: var(--tone-croco-70);
    --textButton-onPanel-active-bgColor: var(--tone-croco-50);
    --textButton-textColor: var(--textColor-main);
    --textButton-selected-bgColor: var(--tone-croco-60);
    --textButton-onPanel-selected-bgColor: var(--tone-mango-60);

    /* FAB (Floating Action Button) */
    --fab-bgColor: var(--tone-croco-30);
    --fab-hover-bgColor: var(--tone-croco-20);
    --fab-active-bgColor: var(--tone-croco-10);
    --fab-disabled-bgColor: var(--tone-croco-40);
    --fab-textColor: white;
    --fab-disabled-textColor: var(--tone-kaki-40);

    /* Login/Signup input **/
    --loginSignup-input-bgColor: transparent;
    --loginSignup-input-borderColor: var(--tone-kaki-30);
    --loginSignup-input-placeholderColor: var(--tone-kaki-30);
    --loginSignup-input-labelColor: var(--tone-kaki-40);

    /* Sidebar*/
    --sidebar-accountCard-bgColor: var(--tone-kaki-70);
}