.cutoutContainer * {
    user-select: none;
}

.cutoutContainer input {
    user-select: all;
    color: var(--textColor-main);
}

.theme-surface1 .cutoutContainer {
    background-color: var(--surface1-cutout-bgColor);
    box-shadow: 
        inset 1px 1px 5px var(--surface1-cutout-insetShadowColor-dark),
        inset -1px -1px var(--surface1-cutout-insetShadowColor-light);
    border-radius: 10px;

    color: var(--textColor-main);
}

.theme-surface1 .cutoutContainer:focus,
.theme-surface1 .cutoutContainer:active {
    background-color: var(--surface1-cutout-active-bgColor);
    color: var(--textColor-main);
    outline: 2px solid var(--surface1-cutout-active-outlineColor);
    outline: 2px solid var(--surface1-cutout-active-outlineColor);
}
.theme-surface1 .cutoutContainer.selected {
    background-color: var(--surface1-cutout-selected-bgColor);
}